<footer class="page-footer">
 <div class="container">
   <div class="row">
     <div class="center-align">
       <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
     </div>
   </div>
 </div>

 <div class="footer-copyright">
   <div class="container center">
   © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
   <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
   </div>
 </div>
</footer>

  <!-- Compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
  });
    </script>
  </body>

</html>
