<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gTutor - Code Assistance for Galvanize Students</title>
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/style_index.css"> -->
  </head>

  <body>
    <nav class="nav-style">
      <div class="nav-wrapper">
        <a id="nav-img" href="" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/gTutor/about">About</a></li>
          <li><a href="/gTutor/posts">Dashboard</a></li>
          <% if (userInfo) { %>
            <li><a href="/gTutor/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/gTutor/login">Login</a></li>
          <% } %>
          <!-- <li><a href="badges.html">Logout</a></li> -->
        </ul>
      </div>
    </nav>
