<% include ../partials/header %>
<link rel="stylesheet" href="/css/style_login.css">

    <div class="container">
      <div class="row">
        <div id="body-heading" class="center-align">
          <h3>About gTutor</h3>
        </div>
      </div>

      <div class="row">
        <div id="about" class="center-align white-text">
          <p>
            gTutor is a Galvanize portal that allows students who are currently enrolled in the Web Development Immersive program to create and submit requests for some additional help with the material covered in the program.</p>

          <p>
            Learning how to code can be challenging and at one time or another, most every student will get stuck on a new topic covered during class.
          </p>

          <p>
            This is where the gTutor portal becomes a valuable resource. Once a student creates and submits a request for help, the wide range of resources available in the Galvanize community can jump in to assist. Whether it's a classmate, a student in another cohort, instructors, and even alumni, they can offer the help you need to overcome the challenges you are facing.
          </p>

        </div>
      </div>



    <!-- END container -->
    </div>

<footer class="page-footer page-footer-sticky">
 <div class="container">
   <div class="row">
     <div class="center-align">
       <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
     </div>
   </div>
 </div>

 <div class="footer-copyright">
   <div class="container center">
   © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
   <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
   </div>
 </div>
</footer>

  <!-- Compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
  });
    </script>
  </body>

</html>
