<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<nav>
  <div id="nav-bar" class="nav-wrapper">
      <div id="nav-img"class="brand-logo center"><img src=" https://s3-us-west-2.amazonaws.com/galvanize.com-dev/galvanize-logo.svg" alt=""></div>
     <h1 id="nav-heading"class="brand-logo center">gTutor</h1><br>


  </div>
</nav>

  <div class="container">
    <div class="row">
      <div id="body-heading" class="center-align"><h2>Join our Community!</h2></div>
      <div id="learn" class="center-align white-text"><h5>Login as a student, a tutor, or both....</h5></div>

      <div id="box" class="row center-align">
        <div class="col s12 m6">
          <div class="card large blue-grey darken-1">
            <div class="card-content white-text">
              <span id= "boxHead"class="card-title center-align">gTutor Login</span>
              <form action="/gTutor/login" method="post">
              <div class="row">
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="cohort" type="email" class="validate" name="email" placeholder="Email ">
                            </div>
                          </div>

                           <div class="row">
                             <div class="input-field col s12">
                               <input id="password" type="password" class="validate" name="password" placeholder="password">

                             </div>
                           </div>

                       </div>
                                  </div>
                                  <div class="card-action">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col s3"><button id="btnOne"  class="btn waves-effect waves-light" value="Login" type="submit">Login
            </button></div>
         </form>
</div>
  </div>

  <footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="center-align">
               <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2017 Copyright Text
           <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
           </div>
         </div>
       </footer>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
  $('select').material_select();
});
  </script>

  <style media="screen">
    body{
      background-color:#34525f;
      display: sticky;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
    flex: 1 0 auto;
    }


    #nav-bar{
      background-color:#143b4b;
      padding-bottom: 6%;
    }
    #nav-heading{
      color:#e9933e;
      margin-top: 3%;
    }
    #body-heading{
      color:#e9933e;
      margin-bottom: 5%;
    }

    #learn{
      margin-bottom: 5%;
    }

    #box{
      margin-left: 30%;
    }

    #boxHead{
      color:#e9933e;
    }

    #btnOne{
      margin-left: 230%;
      background-color: #424242;
    }

    #btnOne:hover {
    background-color: #4ab5cd;
    }
    .page-footer{
      position: flex;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color:#2e4a56;
    }

  </style>

  </body>

</html>
