<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <div id="body-heading" class="center-align">
        <h3>Become the Master of your Code!</h3>
      </div>

      <div id="learn" class="center-align white-text">
        <h5>Login into gTutor</h5>
      </div>

      <div id="box" class="row center-align">
        <div class="col s12 m6">
          <div class="card large blue-grey darken-1">
            <div class="card-content white-text">

              <form action="/gTutor/login" method="post">
              <div class="row">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="cohort" type="email" class="validate" name="email" placeholder="Email ">
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password" placeholder="password">
                  </div>
                </div>

              </div>
                    </div>
            <div class="card-action">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s3">
                <button id="btnOne"  class="btn waves-effect waves-light" value="Login" type="submit">Login</button>
          </div>
         </form>
</div>
</div>

<% include ../partials/footer %>
