<% include ../partials/header %>
<link rel="stylesheet" href="/css/style_index.css">

  <div class="parallax-container z-depth-5">
    <div class="parallax">
      <img src="https://www.nicholspartnership.com/sites/default/files/styles/building-slideshow/public/galvanize_interior_bar.jpg?itok=-amHT4Pj">
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div id="body-heading" class="center-align">
        <h2>Need Help With Your Code?</h2>
      </div>
    </div>

    <div class="row">
      <div id="learn" class="center-align white-text">
        <h5>Learning to code can be tricky. Luckily, there are plenty of resources to help you along your path.</h5>
      </div>
    </div>

    <div class="row">
      <div id="body-heading" class="center-align">
        <h2>Get some coding assistance with gTutor!</h2>
      </div>
    </div>


    <div class="row login-reg-container col s12">
      <div class="col s3 push-s3">
        <a id="btn-login" href="/gTutor/login" class="btn-large waves-effect waves-light" type="submit" name="action" >Login</a>
      </div>

      <div class="col s3 push-s3">
        <a id="btn-register" href="/gTutor/register" class="btn-large waves-effect waves-light" type="button" name="action">Register</a>
      </div>
    </div>

  <!-- END CONTAINER -->
  </div>

  <div class="parallax-container z-depth-5">
    <div class="parallax"><img src="http://impactalpha.com/wp-content/uploads/2017/04/dsw_2014_WWS_Galvanize_Gather2-1200x635-938x535.jpg"></div>
  </div>

  <footer class="page-footer" style="background-color:#2e4a56;">
    <div class="container">
      <div class="row">
        <div class="center-align">
          <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function() {
      $('.parallax').parallax();
    });
  </script>

</body>

</html>
