<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gTutor - Login</title>
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_login.css">
  </head>

  <body>
    <nav class="nav-wrapper">
        <div id="nav-img" class="brand-logo center"></div>
        <div class="nav-heading">
          <h1 id="nav-heading" class="brand-logo center">gTutor</h1>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div id="body-heading" class="center-align">
          <h3>Become the Master of your Code!</h3>
        </div>
      </div>

      <div class="row">
        <div id="learn" class="center-align white-text">
          <h5>Login into gTutor</h5>
        </div>
      </div>

      <%= message %>
      <div class="row">
        <div class="form-container">
          <form class="col s4 offset-s4 form z-depth-2" action="/gTutor/login" method="post">

            <div class="row">
              <div id="form-top-row" class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" placeholder="email">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password" placeholder="password">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row">
              <button id="btn-login" class="waves-effect waves-light btn col s12" type="submit" value="Login">Login</button>
            </div>

          </form>
        </div>
      </div>
    <!-- END container -->
    </div>

<footer class="page-footer">
 <div class="container">
   <div class="row">
     <div class="center-align">
       <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
     </div>
   </div>
 </div>

 <div class="footer-copyright">
   <div class="container center">
   © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
   <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
   </div>
 </div>
</footer>

  <!-- Compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
  });
    </script>
  </body>

</html>
