<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gTutor - Request Offer</title>
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style_login.css">
  </head>

  <body>
    <nav class="nav-wrapper">
        <div id="nav-img" class="brand-logo center"></div>
        <div class="nav-heading">
          <h1 id="nav-heading" class="brand-logo center">gTutor</h1>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div id="campus" class="center-align white-text">
          <h5>Phoenix Campus</h5>
        </div>
      </div>

      <div class="row">
        <div id="body-heading" class="center-align">
          <h3>Code Assistance Tutor Response</h3>
        </div>
      </div>

      <!-- START TABLE -->
      <div class="row">
        <div class="table-container col s8 offset-s2 table z-depth-2">

          <div class="row">
            <h4 class="request-offer-headers">Request Details</h4>
          </div>

          <div class="row">
            <table id="request-offer-top">
              <tr>
                <td class="col-header">Name:</td>
                <td class="col-data">John Doe</td>
                <td class="col-empty"></td>
                <td class="col-header">Request ID:</td>
                <td class="col-data2">#004</td>
              </tr>
              <tr>
                <td class="col-header">gStatus:</td>
                <td class="col-data">Student (g66)</td>
                <td class="col-empty"></td>
                <td class="col-header">Title:</td>
                <td class="col-data2">JavaScript -- Help with accumulator patterns</td>
              </tr>
              <tr>
                <td class="col-header">Availability:</td>
                <td class="col-data">10/30/2017 10/31/2017</td>
                <td class="col-empty"></td>
                <td class="col-header">Description:</td>
                <td class="col-data2">Struggling with understanding and implementing accumulator patterns and iterating through arrays.</td>
              </tr>
              <tr>
                <td class="col-header">Timeframe:</td>
                <td class="col-data">4:15pm - 8:00pm</td>
              </tr>
            </table>
          </div>

          <hr>

          <div class="row">
            <h4 class="request-offer-headers">Tutor Details</h4>
          </div>

          <div class="row">
            <table id="request-offer-mid">
              <tr>
                <td class="col-header">Name:</td>
                <td class="col-data">John Doe</td>
                <td class="col-empty"></td>
                <td class="col-header">Email:</td>
                <td class="col-data2">robert.kirby@helpforyou.com</td>
              </tr>
            </table>
          </div>

          <hr>

          <div class="row">
            <h4 class="request-offer-headers">Additional Comments</h4>
          </div>

          <div class="row add-comments-div">
            <form id="request-offer-bottom" class="col s12 request-offer-form" action="#" method="">
              <div class="row">
                <div class="input-field col s12">
                  <input id="request_title" type="text" class="validate" name="request_title" placeholder="Enter comments for your tutor">
                </div>
              </div>
            </form>
          </div>

          <div class="row accept-rejection">
            <a id="btn-accept-offer" class="waves-effect waves-light btn col s6" type="submit" value="Login">Confirm Tutoring Session</a>
            <a id="btn-reject-offer" class="waves-effect waves-light btn col s6 red lighten-2" type="submit" value="Login">Reject Tutoring Session</a>
          </div>


      </div>
    </div>


    <!-- END container -->
    </div>

<footer class="page-footer">
 <div class="container">
   <div class="row">
     <div class="center-align">
       <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
     </div>
   </div>
 </div>

 <div class="footer-copyright">
   <div class="container center">
   © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
   <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
   </div>
 </div>
</footer>

  <!-- Compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,
    });

    $('.timepicker').pickatime({
      default: 'now', // Set default time: 'now', '1:30AM', '16:30'
      fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
      twelvehour: false, // Use AM/PM or 24-hour format
      donetext: 'OK', // text for done-button
      cleartext: 'Clear', // text for clear-button
      canceltext: 'Cancel', // Text for cancel-button
      autoclose: false, // automatic close timepicker
      ampmclickable: true, // make AM PM clickable
      aftershow: function(){} //Function for after opening timepicker
    });
    </script>
  </body>

</html>
