<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gTutor - Dashboard</title>
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style_login.css">
  </head>

  <body>
    <nav class="nav-wrapper">
        <div id="nav-img" class="brand-logo center"></div>
    </nav>

    <!-- MAIN PAGE CONTAINER -->
    <div class="container">

      <div class="row">
        <div id="learn" class="center-align white-text">
          <h5>Phoenix Campus</h5>
        </div>
      </div>

      <div class="row">
        <div id="body-heading" class="center-align">
          <h3>Request Dashboard</h3>
        </div>
      </div>

      <!-- TAB INFRASTRUCTURE -->
      <div class="row main-section">
        <div class="col s12 tab-headerrow-section">
          <ul class="tabs">
            <li class="tab col s3 tab-header-each"><a href="#tab-createRequests">Create Requests</a></li>
            <li class="tab col s3 tab-header-each"><a class="active" href="#tab-allRequests">All Requests</a></li>
            <li class="tab col s3 tab-header-each"><a href="#tab-myRequests">My Requests</a></li>
            <li class="tab col s3 tab-header-each"><a href="#tab-confirmedRequests">Confirmed Requests</a></li>
          </ul>
        </div>

        <!-- START TAB 1 DATA -->
        <div id="tab-createRequests" class="col s12">
          <div class="row">
            <div id="tab-header" class="center-align">
              <h3>Code Assistance Request Form</h3>
            </div>
          </div>

          <div class="row">
            <div id="tab-subheader" class="center-align white-text">
              <h5>Create and submit your help request below</h5>
            </div>
          </div>

          <div class="row">

              <form class="col s8 offset-s2 form z-depth-2" action="/gTutor/login" method="post">

                <div class="row">
                  <div id="form-top-row" class="input-field col s9">
                    <input id="request_title" type="text" class="validate" name="request_title" placeholder="Title">
                    <label for="request_title">Title</label>
                  </div>

                  <div id="form-top-row" class="input-field col s3">
                    <select>
                      <option value="0" selected>Select a topic area</option>
                      <option value="1">HTML/CSS</option>
                      <option value="2">JavaScript</option>
                      <option value="3">DOM Manipulation</option>
                      <option value="4">jQuery/AJAX</option>
                      <option value="5">SQL/Postgres</option>
                      <option value="6">Express</option>
                      <option value="7">KNEX</option>
                      <option value="8">Chicago</option>
                    </select>
                    <label>Topic</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="request_description" type="text" class="validate" name="request_description" placeholder="Provide a brief description of your challenge">
                    <label for="request_description">Description</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s3">
                    <input id="request_date1" type="text" class="validate datepicker" name="request_date1" placeholder="Select Date">
                    <label for="request_date1">1st Date</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="request_date2" type="text" class="validate datepicker" name="request_date2" placeholder="Select Date">
                    <label for="request_date2"> 2nd Date</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="request_time_start" type="text" class="validate timepicker" name="request_time_start" placeholder="Select Start Time">
                    <label for="request_time_start">Timeframe Start</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="request_time_end" type="text" class="validate timepicker" name="request_time_end" placeholder="Select End Time">
                    <label for="request_time_end">Timeframe End</label>
                  </div>
                </div>

                <div class="row">
                  <a id="btn-registration" class="waves-effect waves-light btn col s12" type="submit" value="Login">Submit Request</a>
                </div>

              </form>

          </div>

        <!-- END TAB 1 DATA -->
        </div>

        <!-- ******** START TAB 2 DATA - ALL REQUESTS ******** -->
        <div id="tab-allRequests" class="col s12 z-depth-2">
              <div class="row">
                <div id="tab-content-heading" class="center-align">
                  <h3>All Help Requests</h3>
                </div>
              </div>

                  <div id="tab2-container" class="container z-depth-2">
                    <div id="tab2-content" class="row">
                      <table id="request-offer-top" class="tab2-content">
                        <tr>
                          <td class="col-header">Name:</td>
                          <td class="col-data">John Doe</td>
                          <td class="col-empty"></td>
                          <td class="col-header">Request ID:</td>
                          <td class="col-data2">#004</td>
                        </tr>
                        <tr>
                          <td class="col-header">gStatus:</td>
                          <td class="col-data">Student (g66)</td>
                          <td class="col-empty"></td>
                          <td class="col-header">Title:</td>
                          <td class="col-data2">JavaScript -- Help with accumulator patterns</td>
                        </tr>
                        <tr>
                          <td class="col-header">Availability:</td>
                          <td class="col-data">10/30/2017 10/31/2017</td>
                          <td class="col-empty"></td>
                          <td class="col-header">Description:</td>
                          <td class="col-data2">Struggling with understanding and implementing accumulator patterns and iterating through arrays.</td>
                        </tr>
                        <tr>
                          <td class="col-header">Timeframe:</td>
                          <td class="col-data">4:15pm - 8:00pm</td>
                        </tr>
                      </table>
                    </div>
                  <!-- END CONTAINER -->
                  </div>
        <!-- END TAB 2 DATA -->
        </div>






        <!-- ********* START TAB 3 DATA - MY REQUESTS ********* -->
        <div id="tab-myRequests" class="col s12 z-depth-2">

            <div class="row">
              <div id="tab-content-heading" class="center-align">
                <h3>My Help Requests</h3>
              </div>
            </div>

                <div id="tab3-container" class="container z-depth-2">
                  <div id="tab3-content" class="row">
                    <table id="request-offer-top" class="tab2-content">
                      <tr>
                        <td class="col-header">Name:</td>
                        <td class="col-data">John Doe</td>
                        <td class="col-empty"></td>
                        <td class="col-header">Request ID:</td>
                        <td class="col-data2">#004</td>
                      </tr>
                      <tr>
                        <td class="col-header">gStatus:</td>
                        <td class="col-data">Student (g66)</td>
                        <td class="col-empty"></td>
                        <td class="col-header">Title:</td>
                        <td class="col-data2">JavaScript -- Help with accumulator patterns</td>
                      </tr>
                      <tr>
                        <td class="col-header">Availability:</td>
                        <td class="col-data">10/30/2017 10/31/2017</td>
                        <td class="col-empty"></td>
                        <td class="col-header">Description:</td>
                        <td class="col-data2">Struggling with understanding and implementing accumulator patterns and iterating through arrays.</td>
                      </tr>
                      <tr>
                        <td class="col-header">Timeframe:</td>
                        <td class="col-data">4:15pm - 8:00pm</td>
                      </tr>
                    </table>
                  </div>
                <!-- END CONTAINER -->
                </div>
        </div>

        <!-- START TAB 4 DATA -->
        <div id="tab-confirmedRequests" class="col s12">
          <div class="row">
            <div id="tab-content-heading" class="center-align">
              <h3>Confirmed Requests</h3>
            </div>
          </div>

              <div id="tab3-container" class="container z-depth-2">
                <div id="tab3-content" class="row">
                  <table id="request-offer-top" class="tab2-content">
                    <tr>
                      <td class="col-header">Name:</td>
                      <td class="col-data">John Doe</td>
                      <td class="col-empty"></td>
                      <td class="col-header">Request ID:</td>
                      <td class="col-data2">#004</td>
                    </tr>
                    <tr>
                      <td class="col-header">gStatus:</td>
                      <td class="col-data">Student (g66)</td>
                      <td class="col-empty"></td>
                      <td class="col-header">Title:</td>
                      <td class="col-data2">JavaScript -- Help with accumulator patterns</td>
                    </tr>
                    <tr>
                      <td class="col-header">Availability:</td>
                      <td class="col-data">10/30/2017 10/31/2017</td>
                      <td class="col-empty"></td>
                      <td class="col-header">Description:</td>
                      <td class="col-data2">Struggling with understanding and implementing accumulator patterns and iterating through arrays.</td>
                    </tr>
                    <tr>
                      <td class="col-header">Timeframe:</td>
                      <td class="col-data">4:15pm - 8:00pm</td>
                    </tr>
                  </table>
                </div>
              <!-- END CONTAINER -->
              </div>
        </div>








    <!-- END MAIN PAGE container -->
    </div>
  </div>

<footer class="page-footer">
 <div class="container">
   <div class="row">
     <div class="center-align">
       <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
     </div>
   </div>
 </div>

 <div class="footer-copyright">
   <div class="container center">
   © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
   <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
   </div>
 </div>
</footer>

  <!-- Compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
  });
    </script>
  </body>

</html>
