body{
  background-color:#34525f;
  display: sticky;
  min-height: 100vh;
  flex-direction: column;
}

main {
flex: 1 0 auto;
}

.row {
  margin: 0px;
  padding: 0px;
}

.nav-wrapper{
  background-color:#143b4b;
  padding-bottom: 6%;
}

.nav-style {
  height: 125px;
}

#nav-img {
  background-image: url('../images/gTutor-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 225px;
  margin-top: 15px;
  margin-left: 44%;
}

#nav-heading{
  color:#ffffff;
  text-align: center;
  margin-top: 3.5%;

}
#body-heading{
  color:#e9933e;
  margin-top: 5%;
  margin-bottom: 3%;
}

#learn {
  /*margin-bottom: 5%;*/
}

#box {
  margin-left: 33%;
}

#boxHead {
  color:#e9933e;
}


.page-footer{
  position: flex;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#2e4a56;
}

/* additional css to index page */

/*.login-reg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}*/

#btn-login {
  /*margin: auto;*/
  background-color: #424242;
  order: 1;
  width: 250px;
  height: 75px;
  font-size: 24px;
  padding-top: 0.5em;
  margin-bottom: 5%;
}

#btn-login:hover {
background-color: #4ab5cd;
}

#btn-register {
  margin-left: 15%;
  background-color: #424242;
  order: 2;
  width: 250px;
  height: 75px;
  font-size: 24px;
  padding-top: 0.5em;
  margin-bottom: 5%;
}

#btn-register:hover {
background-color: #4ab5cd;
}
